.demo input { background-color: #FBFBFB; border: 1px solid #999; border-radius: 2px; color: #111; font: 1.6em arial; height: 26px; margin-bottom: 5px; letter-spacing: .3px; padding: 3px; width: 200px }
.demo input:focus { border: 1px solid #95BDD4 }
.demo input:hover { border: 1px solid #BDBDBD }
